<div class="container">
  <h1 class="bg-warning text-white text-center">クイズに解答する</h1>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-6"> 
      <h2 class="text-info">ジャンル検索</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6"> 
      <input class="form-control border-info">
    </div>
    <div class="col-6"> 
      <a class="btn btn-warning">検索</a>
    </div>
  </div>
</div><br>
<div class="container">
  <h5>1...10/100件中</h5><br>
  <div class="card border-primary">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <h3 class="h3">銀魂声優クイズ<h3>
              <h6>ジャンル：声優</h6>
            </td>
            <td>
              <h6>いいね数　1</h6>
            </td>
            <td>
              <%= link_to "挑戦する", root_path, class: "btn btn-lg btn-success" %>
            </td>
          </tr>
          <tr>  
            <td>
              <h3 class="h3">呪術廻戦声優クイズ</h3>
              <h6>ジャンル：声優</h6>
            </td>
            <td>
              <h6>いいね数　1</h6>
            </td>            
            <td>
              <%= link_to "挑戦する", root_path, class: "btn btn-lg btn-success" %>
            </td>
          </tr>
        </tbody>  
      </table>
    </div>
  </div>
</div><br><br>