<% unless user_signed_in? %>
  <br>
  <div id="top">
    <top></top>
  </div>
<% else %>
  <div class="container">
    <% if flash[:notice] %>
      <h2 class="flash bg-success text-white text-center">
        <%= flash[:notice] %>
      </h2>
    <% end %>
  </div>
  <div id="user-top">
    <user-top></user-top>
  </div>
<% end %>