<% unless user_signed_in? %>
  <br>
  <div id="top">
    <top></top>
  </div>
<% else %>
  <%= render file: "layouts/flash.html.erb" %>
  <div id="user-top">
    <user-top></user-top>
  </div>
<% end %>