<div class="container">
  <h1 class="bg-warning text-white text-center">クイズ編集</h1>
</div><br>
<div class="container">
  <h5 class=" text-info">クイズ名</h5>
  <div class="row">      
    <div class="col-7">
      <div class="form-group">
        <input class="form-control border-info">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h5 class=" text-info">ジャンル</h5>
  <div class="row">      
    <div class="col-5">      
      <div class="form-group">
        <input class="form-control border-info">
      </div>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">      
    <div class="col-12">
      <div class="card border-info">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <h3 class="text-info">問題文</h3>
            </div>
            <div class="col-9">
              <a class="btn btn-danger float-right text-white">問題の削除</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea class="form-control border-info" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div><br>
          <div class="row">
            <div class="col">
              <h3 class="text-info">選択肢</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <select class="form-control border-info" id="exampleFormControlSelect1">
                <option>○</option>
                <option>×</option>
              </select>
            </div>
            <div class="col-8">
              <div class="form-group">
                <textarea class="form-control border-info" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <select class="form-control border-info" id="exampleFormControlSelect1">
                <option>○</option>
                <option>×</option>
              </select>
            </div>
            <div class="col-8">
              <div class="form-group">
                <textarea class="form-control border-info" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <select class="form-control border-info" id="exampleFormControlSelect1">
                <option>○</option>
                <option>×</option>
              </select>
            </div>
            <div class="col-8">
              <div class="form-group">
                <textarea class="form-control border-info" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>  
            </div>
            <div class="col-2">
              <a class="btn btn-danger">🗑</a>
            </div>
          </div>
          <div class="row">
            <div class="col-11">
              <a class="btn btn-success float-right text-white">選択肢の追加</a>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <h3 class="text-info">解説</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea class="form-control border-info" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="actions">
        <a class="btn btn-success float-right text-white">問題の追加</a>
      </div>
    </div>
  </div>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="actions">
        <a class="btn btn-primary btn-lg float-right text-white">保存する</a>
      </div>
    </div>
  </div>
</div><br><br> 

