<div class="container" id="page-title">
  <h1 :style="styles">クイズ作成</h1>
</div><br>
<%= form_for @quiz, url: my_quizzes_path do |f| %>
  <div class="container">
    <h3 class="text-success">クイズ名</h3>
    <div class="row">      
      <div class="col-7">
        <div class="form-group">
          <%= f.text_field :title, class: "form-control border-success", placeholder: "（例）山手線クイズ", required: true %>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="container">
    <h3 class="text-success">ジャンル</h3>
    <h6 class="text-danger">＊クイズ検索の際に使用されます。</h6>
    <div class="row">      
      <div class="col-7">      
        <div class="form-group">
          <%= f.text_field :genre, class: "form-control border-success", placeholder: "（例）鉄道　山手線　東京", required: true %>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="actions">
          <%= f.submit "クイズを作成", class: "btn btn-primary btn-lg float-right text-white" %>
        </div>
      </div>
    </div>
  </div><br><br> 
<% end %>