<div class="container">
  <h1 class="bg-success text-white text-center">掲示板に記入する</h1>
</div><br>
<div class="container">
  <h2>名前（アイコン）</h2>
</div><br>
<div class="container">
  <div class="row">
    <div class="col">
      <textarea class="form-control border-primary", id="exampleFormControlTextarea1", rows=10></textarea>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-7">
      <a class="btn btn-warning btn-lg float-right">掲示板に載せる</a>
    </div>
  </div>  
</div><br><br>
